.proc-node > .process-node-title-container > a, .proc-leaf > .process-node-title-container > a {
  cursor: pointer;
}

.proc-node.unhighlighted-node > .process-node-title-container > a,
.proc-leaf.unhighlighted-node > .process-node-title-container > a {
  opacity: 0.3;
}

li.proc-node-open, li.proc-node-closed, li.proc-leaf {
  list-style-type: none;
}

li.proc-node-open > div, li.proc-node-closed > div, li.proc-leaf > div {
  display: inline;
}

li.proc-leaf {
  margin-left: 14px;
}

.proc-node-icon {
  cursor: pointer;
}

.proc-node-open .proc-node-icon {
  background: url('../img/proc-node-minus.png') no-repeat top left;
}

.proc-node-closed .proc-node-icon {
  background: url('../img/proc-node-plus.png') no-repeat top left;
}

.proc-node-open .proc-node-icon, .proc-node-closed .proc-node-icon {
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.proc-node-closed > ul {
  display: none;
}

.proc-node.made-invisible {
  display: none;
}

.process-node-icon {
  position: relative;
  cursor: pointer;
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.process-node-icon .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.process-node-icon .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.process-node-icon:hover .tooltip {
  visibility: visible;
}

.icon-show-this-process-only {
  background-image: url('../img/upload-flipped-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.proc-node.merged-children > .process-node-title-container > .process-node-icons > .icon-merge-subprocesses,
.proc-node.merged-child    > .process-node-title-container > .process-node-icons > .icon-merge-subprocesses,
.proc-node.proc-leaf       > .process-node-title-container > .process-node-icons > .icon-merge-subprocesses {
  display: none;
}

.icon-merge-subprocesses {
  display: inline-block;
  background-image: url('../img/grid-on-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.icon-unmerge-subprocesses {
  display: none;
}

.proc-node.merged-children > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses,
.proc-node.merged-child    > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses {
  display: inline-block;
  background-image: url('../img/grid-off-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

li.first-visible > .process-node-title-container > .process-node-icons > .icon-move-to-top {
  display: none;
}

.icon-move-to-top {
  background-image: url('../img/up-arrow-icon-22-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

li.last-visible > .process-node-title-container > .process-node-icons > .icon-move-to-bottom {
  display: none;
}

.icon-move-to-bottom {
  background-image: url('../img/down-arrow-icon-22-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

li.last-visible > .process-node-title-container > .process-node-icons > .icon-hide-siblings-below {
  display: none;
}

.icon-hide-siblings-below {
  background-image: url('../img/down-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.icon-hide {
  background-image: url('../img/eye-slash-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.proc-node .icon-unhide-hidden-children {
  display: none;
}

.proc-node:has(> ul > li.made-invisible) > .process-node-title-container > .process-node-icons > .icon-unhide-hidden-children {
  display: inline-block;
}

.icon-unhide-hidden-children {
  background-image: url('../img/eye-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.process-node-title-container > div {
  display: inline-block;
}

.process-node-title-container .process-node-icons {
  visibility: hidden;
  padding-left: 4px;
}

.process-node-title-container:hover .process-node-icons {
  visibility: visible;
}

.processes-tree-container-ul.inactive {
  display: none;
}

.processes-tree-secondary-container-div.inactive {
  display: none;
}

.secondary-show-all-btn {
  margin-top: 16px;
}

.processes-tree-secondary-ul {
  margin-top: unset;
}
