
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  background-attachment: fixed;
}

#timings-main-container {
  overflow: hidden;
  margin: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#canvas-wrapper {
  flex: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#canvas-wrapper.underlined > canvas {
  border-bottom: 1px solid grey;
}

#period-btns-container {
  flex: none;
}

#hide-and-show-btns-container {
  flex: none;
}

#categories-and-timings-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#timing-category-btns-container {
  flex: 0 1 auto;
  min-height: 25%;
  overflow-y: auto;
}

#timings-summary-resizer {
  height: 4px;
  display: flex;
  justify-content: center;
}

#timings-summary-resizer:hover {
  cursor: ns-resize;
}

#timings-summary-resizer-line {
  width: 40px;
  border-bottom: 1px solid grey;
}

#inner-content-wrapper {
  flex: 1 1 25%;
  min-height: 25%;
  overflow-y: auto;
  color: white;
}

li.timing-row-parent-li {
  color: white;
  opacity: 1;
}

li.timing-row-parent-li.greyed-out {
  color: white;
  opacity: .3;
}

li.timing-row-parent-li.minimized-to-invisibility ,
li.timing-row-parent-li.extra-unhighlighted {
  display: none;
}

li.timing-row-parent-li.highlighted-from-canvas,
.timing-row.highlighted-from-canvas {
  color: red !important;
}

ul.timings-categories-tree {
  color: white;
}

.proc-node > a, .proc-leaf > a {
  cursor: pointer;
}

.proc-node.unhighlighted-node > a,
.proc-leaf.unhighlighted-node > a {
  opacity: 0.3;
}

li.proc-node-open, li.proc-node-closed, li.proc-leaf {
  list-style-type: none;
}

li.proc-node-open > div, li.proc-node-closed > div, li.proc-leaf > div {
  display: inline;
}

li.proc-leaf {
  margin-left: 14px;
}

.proc-node-icon {
  cursor: pointer;
}

.proc-node-open .proc-node-icon {
  background: url('./img/proc-node-minus.png') no-repeat top left;
}

.proc-node-closed .proc-node-icon {
  background: url('./img/proc-node-plus.png') no-repeat top left;
}

.proc-node-open .proc-node-icon, .proc-node-closed .proc-node-icon {
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.proc-node-closed > ul {
  display: none;
}
