/* from https://alvarotrigo.com/blog/html-css-tabs/ */
/* from https://codepen.io/alvarotrigo/pen/bGoPzMe */

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background: #ecf0f1;
  font-family: "Raleway";
}

.no-border {
  border: none !important;
}

.no-padding {
  padding: 0 !important;
}

#preferences-main-container {
  height: 100%;
  overflow: hidden;
}

.pc-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.pc-tab > nav {
  flex: none;
}

.pc-tab > section {
/*  flex: 1 1 auto;      */
/*  overflow-y: auto;    */
  flex: 1 1 auto;
  overflow: hidden;
}

.pc-tab > input,
.pc-tab section > div {
  display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3,
#tab4:checked ~ section .tab4,
#tab5:checked ~ section .tab5,
#tab6:checked ~ section .tab6 {
  display: block;
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3,
#tab4:checked ~ nav .tab4,
#tab5:checked ~ nav .tab5,
#tab6:checked ~ nav .tab6 {
  color: red;
}

/* Visual Styles */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 60px;
  color: #e74c3c;
}

/*.pc-tab {           */
/*  width: 100%;      */
/*  max-width: 700px; */
/*  margin: 0 auto;   */
/*}                   */
.pc-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pc-tab ul li label {
  font-family: "Raleway";
  float: left;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-bottom: 0;
  background: #eeeeee;
  color: #444;
}
.pc-tab ul li label:hover {
  background: #dddddd;
}
.pc-tab ul li label:active {
  background: #ffffff;
}
.pc-tab ul li:not(:last-child) label {
  border-right-width: 0;
}
.pc-tab section {
  font-family: "Droid Serif";
  clear: both;
  border-top: 1px solid #ddd;
}
.pc-tab section div {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  color: #444;
}
.pc-tab section div h2 {
  margin: 0;
  font-family: "Raleway";
  letter-spacing: 1px;
  color: #34495e;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label,
#tab4:checked ~ nav .tab4 label,
#tab5:checked ~ nav .tab5 label,
#tab6:checked ~ nav .tab6 label {
  background: white;
  color: #111;
  position: relative;
}
#tab1:checked ~ nav .tab1 label:after,
#tab2:checked ~ nav .tab2 label:after,
#tab3:checked ~ nav .tab3 label:after,
#tab4:checked ~ nav .tab4 label:after,
#tab5:checked ~ nav .tab5 label:after,
#tab6:checked ~ nav .tab6 label:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  left: 0;
  bottom: -1px;
}

footer {
  margin-top: 50px;
  font-size: 14px;
  color: #CCC;
  text-align: center;
}
footer a {
  color: #AAA;
  text-decoration: none;
}

.pc-tab > #bottom-buttons-row {
  flex: none;
  padding: 4px;
  border-top: 1px solid #ddd;
}

.pc-tab > #bottom-buttons-row.hidden-behind-dialog {
  display: none;
}

#bottom-buttons-row > button {
  float: right;
  margin-left: 4px;
}

.pc-tab > section > .tab-contents {
  height: 100%;
  overflow-y: auto;
  padding: 0;
  border: none;
}

.tab-contents > div {
  border: none !important;
}

#tab-contents-of-timings-config > div > div {
  border: none;
}

#tab-contents-of-timings-config > div > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#tab-contents-of-notebook > div > div {
  border: none;
}

#tab-contents-of-notebook > div > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#tab-contents-of-frequencies > div > div {
  border: none;
}

#tab-contents-of-frequencies > div > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#tab-contents-of-frequencies > div > #div-field-node-icons > div {
  border: none;
  padding: 0;
  padding-left: 10%;
}

#tab-contents-of-frequencies > div > #div-field-node-icons > div > div {
  border: none;
}

#tab-contents-of-frequencies > div > #div-field-node-icons > div > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

div.icons-list-item {
  display: flex;
}

div.icons-list-item > div.input-with-label-div {
  flex: 1;
  border: none;
  padding: 0;
}

div.icons-list-item > div.right-side-buttons-of-icons-list-item {
  border: none;
  padding: 0;
  margin-left: 10px;
  width: unset;
}

#tab-contents-of-frequencies > div > #div-field-node-icons-in-main-window > div {
  border: none;
  padding: 0;
  padding-left: 10%;
}

#tab-contents-of-frequencies > div > #div-field-node-icons-in-main-window > div > div {
  border: none;
}

#tab-contents-of-frequencies > div > #div-field-node-icons-in-main-window > div > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#tab-contents-of-post-timing-dialog > div > div {
  border: none;
}

#tab-contents-of-post-timing-dialog > div > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#list-of-timings-files-panel {
  padding: 0;
  border: none;
}

#btns-row-above-list-of-timings-files {
  border: none;
  padding-left: 0;
  padding-top: 0;
}



#list-of-timings-files-panel.active {
  display: block;
}
#list-of-timings-files-panel.inactive {
  display: none;
}


#wizard-to-create-timings-file-info.active {
  display: block;
}
#wizard-to-create-timings-file-info.inactive {
  display: none;
}


#form-to-edit-timings-file-info.active {
  display: block;
}
#form-to-edit-timings-file-info.inactive {
  display: none;
}





#wizard-to-create-timings-file-info {
  padding: 0;
  border: none;
}

#wizard-to-create-timings-file-info > .timing-creation-dialog-step {
  display: none;
}

#wizard-to-create-timings-file-info > .timing-creation-dialog-step.current-step {
  display: block;
}

#btns-in-wizard-to-create-timings-file-info {
  display: flex;
  justify-content: flex-end;
  border: none;
}

#btns-in-wizard-to-create-timings-file-info > div.left-side-btns {
  flex: 1;
  border: none;
  padding: 0;
}

#btns-in-wizard-to-create-timings-file-info > div.right-side-btns {
  border: none;
  padding: 0;
  margin-left: 10px;
  width: unset;
}

#btns-in-wizard-to-create-timings-file-info button.hidden-btn {
  display: none;
}

#btn-new-timings-file-info-next-step {
  margin-left: 4px;
}

#btn-new-timings-file-info-save {
  margin-left: 4px;
}

#new-timing-category-path {
  vertical-align: top;
}








#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-pre-filepath {
  border: none;
}

#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-pre-filepath >
h2 {
  margin-bottom: 10px;
}

#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-pre-filepath >
#timing-filepath-dir-or-file-choice-container {
  display: flex;
  border: none;
  padding: 0;
}

#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-pre-filepath >
#timing-filepath-dir-or-file-choice-container.invisible-screen {
  display: none;
}

#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-pre-filepath >
#timing-filepath-dir-or-file-choice-container >
#timing-filepath-dir-choice-btn-container {
/*  flex: auto;  */
  width: 50%;
  border-right: none;
}

#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-pre-filepath >
#timing-filepath-dir-or-file-choice-container >
#timing-filepath-file-choice-btn-container {
  display: block;
  border-left: 1px solid #ddd;
  width: 50%;
}

#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-pre-filepath >
#timing-filepath-dir-or-file-choice-container a {
  cursor: pointer;
}








#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-filepath >
#timing-filepath-dir-selector-container > div {
  border: none;
}

#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-filepath >
#timing-filepath-dir-selector-container > div:not(:first-child) {
  border-top: 1px solid #ddd;
}





#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-filepath >
#new-timing-filepath-field-container {
  display: none;
}






#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-category-path-related > div {
  border: none
}

#wizard-to-create-timings-file-info >
#timing-creation-dialog-step-category-path-related > div:not(:first-child) {
  border-top: 1px solid #ddd;
}




.invisible-screen {
  display: none;
}









#form-to-edit-timings-file-info {
  padding: 0;
  border: none;
}

#form-to-edit-timings-file-info > #fields-of-timings-file-info-form {
  padding: 0;
}

#form-to-edit-timings-file-info > #fields-of-timings-file-info-form > div {
  border: none;
}

#form-to-edit-timings-file-info > #fields-of-timings-file-info-form > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#form-to-edit-timings-file-info > #fields-of-timings-file-info-form > #timing-info-filepath-field-container {
  display: flex;
}

#form-to-edit-timings-file-info > #fields-of-timings-file-info-form > #timing-info-filepath-field-container > label {
  flex: none;
  margin-right: 4px;
}

#form-to-edit-timings-file-info > #fields-of-timings-file-info-form > #timing-info-filepath-field-container > input {
  flex: 1;
  margin-right: 4px;
}

#form-to-edit-timings-file-info > #fields-of-timings-file-info-form > #timing-info-filepath-field-container > button {
  flex: none;
}

#btns-in-form-to-edit-timings-file-info {
  display: flex;
  justify-content: flex-end;
  border: none;
}

#btn-timings-file-info-save {
  margin-left: 4px;
}

#timing-info-category-path {
  vertical-align: top;
}





#list-of-timings-files {
  padding: 0;
  border: none;
}

#list-of-timings-files > .timings-file-info-view {
  padding: 0;
}

#list-of-timings-files > .timings-file-info-view:not(:first-child) {
  margin-top: 10px;
}

#list-of-timings-files > .timings-file-info-view > div {
  border: none;
}

#list-of-timings-files > .timings-file-info-view > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#list-of-timings-files > .timings-file-info-view > .timings-file-info-buttons {
  background-color: #32323a;
  border: 1px solid #32323a;
  display: flex;
  justify-content: flex-end;
}

#list-of-timings-files > .timings-file-info-view > .timings-file-info-buttons > .btn-edit-timings-file-info {
  margin-right: 4px;
}

#list-of-timings-files > .timings-file-info-view > div.category-path-div.category-path-is-same-as-name {
  display: none;
}

#list-of-timings-files > .timings-file-info-view > div.default-competitiveness-level {
  display: none;
}

#list-of-timings-files > .timings-file-info-view .btn-undo-delete-of-timings-file-info {
  display: none;
}

#list-of-timings-files > .timings-file-info-view.to-be-deleted > .timings-file-info-buttons {
  background-color: #ccc;
  border: 1px solid #ccc;
}

#list-of-timings-files > .timings-file-info-view.to-be-deleted .div-with-text {
  opacity: 0.5;
}

#list-of-timings-files > .timings-file-info-view.to-be-deleted .btn-undo-delete-of-timings-file-info {
  display: inline-block;
}

#list-of-timings-files > .timings-file-info-view.to-be-deleted .btn-edit-timings-file-info {
  display: none;
}

#list-of-timings-files > .timings-file-info-view.to-be-deleted .btn-delete-timings-file-info {
  display: none;
}








#list-of-wallpapers-panel {
  padding: 0;
  border: none;
}

#btns-row-above-list-of-wallpapers {
  border: none;
  padding-left: 0;
  padding-top: 0;
}

#list-of-wallpapers-panel.active {
  display: block;
}

#list-of-wallpapers-panel.inactive {
  display: none;
}

#form-to-edit-wallpaper-info.active {
  display: block;
}

#form-to-edit-wallpaper-info.inactive {
  display: none;
}

#form-to-edit-wallpaper-info {
  padding: 0;
  border: none;
}

#form-to-edit-wallpaper-info > #fields-of-wallpaper-info-form {
  padding: 0;
}

#form-to-edit-wallpaper-info > #fields-of-wallpaper-info-form > div {
  border: none;
}

#form-to-edit-wallpaper-info > #fields-of-wallpaper-info-form > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#form-to-edit-wallpaper-info > #fields-of-wallpaper-info-form > #new-wallpaper-filepath-field-container {
  display: flex;
}

#form-to-edit-wallpaper-info > #fields-of-wallpaper-info-form > #new-wallpaper-filepath-field-container > label {
  flex: none;
  margin-right: 4px;
}

#form-to-edit-wallpaper-info > #fields-of-wallpaper-info-form > #new-wallpaper-filepath-field-container > input {
  flex: 1;
  margin-right: 4px;
}

#form-to-edit-wallpaper-info > #fields-of-wallpaper-info-form > #new-wallpaper-filepath-field-container > button {
  flex: none;
}

#form-to-edit-wallpaper-info > #fields-of-wallpaper-info-form > #new-wallpaper-filepath-field-container.disabled-filepath-field > button {
  display: none;
}

#btns-in-form-to-edit-wallpaper-info {
  display: flex;
  justify-content: flex-end;
  border: none;
}

#btn-wallpaper-info-save {
  margin-left: 4px;
}

#list-of-wallpapers {
  padding: 0;
  border: none;
}

#list-of-wallpapers > .wallpaper-info-view {
  padding: 0;
}

#list-of-wallpapers > .wallpaper-info-view:not(:first-child) {
  margin-top: 10px;
}

#list-of-wallpapers > .wallpaper-info-view > div {
  border: none;
}

#list-of-wallpapers > .wallpaper-info-view > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#list-of-wallpapers > .wallpaper-info-view > .wallpaper-info-buttons {
  background-color: #32323a;
  border: 1px solid #32323a;
  display: flex;
  justify-content: flex-end;
}

#list-of-wallpapers > .wallpaper-info-view > .wallpaper-info-buttons > .btn-edit-wallpaper-info {
  margin-right: 4px;
}

#list-of-wallpapers > .wallpaper-info-view .btn-undo-delete-of-wallpaper-info {
  display: none;
}

#list-of-wallpapers > .wallpaper-info-view.to-be-deleted > .wallpaper-info-buttons {
  background-color: #ccc;
  border: 1px solid #ccc;
}

#list-of-wallpapers > .wallpaper-info-view.to-be-deleted .div-with-text {
  opacity: 0.5;
}

#list-of-wallpapers > .wallpaper-info-view.to-be-deleted .btn-undo-delete-of-wallpaper-info {
  display: inline-block;
}

#list-of-wallpapers > .wallpaper-info-view.to-be-deleted .btn-edit-wallpaper-info {
  display: none;
}

#list-of-wallpapers > .wallpaper-info-view.to-be-deleted .btn-delete-wallpaper-info {
  display: none;
}








#notebook-filepath-field-container {
  display: flex;
}

#notebook-filepath-field-container > label {
  flex: none;
  margin-right: 4px;
}

#notebook-filepath-field-container > input {
  flex: 1;
  margin-right: 4px;
}

#notebook-filepath-field-container > button {
  flex: none;
}



#notebook-font-sizes-wrapper {
  display: flex;
  padding: 0;
  border: none;
  padding-left: 10%;
}

#notebook-font-sizes-wrapper > #notebook-font-sizes-left-panel {
  flex: 0 0 auto;
  width: 35%;
  padding: 0;
  border: none;
}

#notebook-font-sizes-wrapper > #notebook-font-sizes-right-panel {
  flex: 1 1 1px;
  padding: 0;
  border: none;
  border-left: 1px solid #ddd;
}

#notebook-font-sizes-wrapper > #notebook-font-sizes-left-panel > div {
  border: none;
}

#notebook-font-sizes-wrapper > #notebook-font-sizes-left-panel > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#notebook-font-sizes-wrapper > #notebook-font-sizes-left-panel > #notebook-tooltips-font-size-wrapper {
  padding-left: 0;
}

#notebook-font-sizes-wrapper > #notebook-font-sizes-right-panel > div {
  border: none;
}

#notebook-font-sizes-wrapper > #notebook-font-sizes-right-panel > div:not(:first-child) {
  border-top: 1px solid #ddd;
}



#notebook-font-sizes-on-main-window-wrapper {
  display: flex;
  padding: 0;
  border: none;
  padding-left: 10%;
}

#notebook-font-sizes-on-main-window-wrapper > #notebook-font-sizes-on-main-window-left-panel {
  flex: 0 0 auto;
  width: 35%;
  padding: 0;
  border: none;
}

#notebook-font-sizes-on-main-window-wrapper > #notebook-font-sizes-on-main-window-right-panel {
  flex: 1 1 1px;
  padding: 0;
  border: none;
  border-left: 1px solid #ddd;
}

#notebook-font-sizes-on-main-window-wrapper > #notebook-font-sizes-on-main-window-left-panel > div {
  border: none;
}

#notebook-font-sizes-on-main-window-wrapper > #notebook-font-sizes-on-main-window-left-panel > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#notebook-font-sizes-on-main-window-wrapper > #notebook-font-sizes-on-main-window-left-panel > #notebook-tooltips-font-size-wrapper {
  padding-left: 0;
}

#notebook-font-sizes-on-main-window-wrapper > #notebook-font-sizes-on-main-window-right-panel > div {
  border: none;
}

#notebook-font-sizes-on-main-window-wrapper > #notebook-font-sizes-on-main-window-right-panel > div:not(:first-child) {
  border-top: 1px solid #ddd;
}







#notebook-node-icons-wrapper {
  display: flex;
  padding: 0;
  border: none;
  padding-left: 10%;
}

#notebook-node-icons-wrapper > #notebook-node-icons-left-panel {
  flex: 0 0 auto;
  width: 35%;
  padding: 0;
  border: none;
}

#notebook-node-icons-wrapper > #notebook-node-icons-right-panel {
  flex: 1 1 1px;
  padding: 0;
  border: none;
  border-left: 1px solid #ddd;
}

#notebook-node-icons-wrapper > #notebook-node-icons-left-panel > div {
  border: none;
}

#notebook-node-icons-wrapper > #notebook-node-icons-left-panel > div.icons-list-container {
  border-top: 1px solid #ddd;
  padding: 0;
}

#notebook-node-icons-wrapper > #notebook-node-icons-left-panel > div.icons-list-container > div {
  border: none;
}

#notebook-node-icons-wrapper > #notebook-node-icons-left-panel > div.icons-list-container > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#notebook-node-icons-wrapper > #notebook-node-icons-right-panel > div {
  border: none;
}

#notebook-node-icons-wrapper > #notebook-node-icons-right-panel > div.icons-list-container {
  border-top: 1px solid #ddd;
  padding: 0;
}

#notebook-node-icons-wrapper > #notebook-node-icons-right-panel > div.icons-list-container > div {
  border: none;
}

#notebook-node-icons-wrapper > #notebook-node-icons-right-panel > div.icons-list-container > div:not(:first-child) {
  border-top: 1px solid #ddd;
}





#notebook-node-icons-in-main-window-wrapper {
  display: flex;
  padding: 0;
  border: none;
  padding-left: 10%;
}

#notebook-node-icons-in-main-window-wrapper > #notebook-node-icons-in-main-window-left-panel {
  flex: 0 0 auto;
  width: 35%;
  padding: 0;
  border: none;
}

#notebook-node-icons-in-main-window-wrapper > #notebook-node-icons-in-main-window-right-panel {
  flex: 1 1 1px;
  padding: 0;
  border: none;
  border-left: 1px solid #ddd;
}

#notebook-node-icons-in-main-window-wrapper > #notebook-node-icons-in-main-window-left-panel > div {
  border: none;
}

#notebook-node-icons-in-main-window-wrapper > #notebook-node-icons-in-main-window-left-panel > div.icons-list-container {
  border-top: 1px solid #ddd;
  padding: 0;
}

#notebook-node-icons-in-main-window-wrapper > #notebook-node-icons-in-main-window-left-panel > div.icons-list-container > div {
  border: none;
}

#notebook-node-icons-in-main-window-wrapper > #notebook-node-icons-in-main-window-left-panel > div.icons-list-container > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#notebook-node-icons-in-main-window-wrapper > #notebook-node-icons-in-main-window-right-panel > div {
  border: none;
}

#notebook-node-icons-in-main-window-wrapper > #notebook-node-icons-in-main-window-right-panel > div.icons-list-container {
  border-top: 1px solid #ddd;
  padding: 0;
}

#notebook-node-icons-in-main-window-wrapper > #notebook-node-icons-in-main-window-right-panel > div.icons-list-container > div {
  border: none;
}

#notebook-node-icons-in-main-window-wrapper > #notebook-node-icons-in-main-window-right-panel > div.icons-list-container > div:not(:first-child) {
  border-top: 1px solid #ddd;
}



#post-timing-dialog-node-icons-wrapper {
  display: flex;
  padding: 0;
  border: none;
  padding-left: 10%;
}

#post-timing-dialog-node-icons-wrapper > #post-timing-dialog-node-icons-left-panel {
  flex: 0 0 auto;
  width: 35%;
  padding: 0;
  border: none;
}

#post-timing-dialog-node-icons-wrapper > #post-timing-dialog-node-icons-right-panel {
  flex: 1 1 1px;
  padding: 0;
  border: none;
  border-left: 1px solid #ddd;
}

#post-timing-dialog-node-icons-wrapper > #post-timing-dialog-node-icons-left-panel > div {
  border: none;
}

#post-timing-dialog-node-icons-wrapper > #post-timing-dialog-node-icons-left-panel > div.icons-list-container {
  border-top: 1px solid #ddd;
  padding: 0;
}

#post-timing-dialog-node-icons-wrapper > #post-timing-dialog-node-icons-left-panel > div.icons-list-container > div {
  border: none;
}

#post-timing-dialog-node-icons-wrapper > #post-timing-dialog-node-icons-left-panel > div.icons-list-container > div:not(:first-child) {
  border-top: 1px solid #ddd;
}

#post-timing-dialog-node-icons-wrapper > #post-timing-dialog-node-icons-right-panel > div {
  border: none;
}

#post-timing-dialog-node-icons-wrapper > #post-timing-dialog-node-icons-right-panel > div.icons-list-container {
  border-top: 1px solid #ddd;
  padding: 0;
}

#post-timing-dialog-node-icons-wrapper > #post-timing-dialog-node-icons-right-panel > div.icons-list-container > div {
  border: none;
}

#post-timing-dialog-node-icons-wrapper > #post-timing-dialog-node-icons-right-panel > div.icons-list-container > div:not(:first-child) {
  border-top: 1px solid #ddd;
}


