p.some-class {
    color: green;
    margin-left: 30px;
}

.column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
