
body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  background-attachment: fixed;
}
#inner-content-wrapper {
  color: white;
}
#canvas-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
