
body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  background-attachment: fixed;
}

.row {
  display: flex;
}

#timings-container {
  width: 800px;
  min-width: 800px;
  flex: initial;
}
#timing-category-btns-row-container {
  display: flex;
}
#timing-category-btns-container {
  flex: 1;
}

#current-processes-tree-nodes-container {
  flex: auto;
}

#inner-content-wrapper {
  color: white;
}
#canvas-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

#processes-content-wrapper {
  color: white;
  font-size: xx-small;
}

li.proc-node-open, li.proc-node-closed, li.proc-leaf {
  list-style-type: none;
}

li.proc-leaf {
  margin-left: 14px;
}

.proc-node-icon {
  cursor: pointer;
}

.proc-node-open .proc-node-icon {
  background: url('frontend/img/proc-node-minus.png') no-repeat top left;
}

.proc-node-closed .proc-node-icon {
  background: url('frontend/img/proc-node-plus.png') no-repeat top left;
}

.proc-node-open .proc-node-icon, .proc-node-closed .proc-node-icon {
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.proc-node-closed > ul {
  display: none;
}
