html {
  height: 100%;
}


body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}

#topmost-wrapper {
  height: 100%;
  overflow: hidden;
}

.row {
  display: flex;
}

#timings-container {
/*  flex: initial;  */
/*  flex: 1 1 auto;  */
  width: 50%;
  min-width: 100px;
  overflow: auto;
}

#resizer-between-timings-and-notes {
  flex: none;
  width: 4px;
  border-left: 1px solid grey;
}

#resizer-between-timings-and-notes:hover {
  cursor: ew-resize;
}

#current-notes-tree-nodes-container {
  flex: 1 1 0%;
  overflow: auto;
}

#timing-category-btns-row-container {
  display: flex;
}
#timing-category-btns-container {
  flex: 1;
}

#inner-content-wrapper {
  color: white;
}

#canvas-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

#canvas-wrapper.underlined > canvas {
  border-bottom: 1px solid grey;
}

#notes-content-top-wrapper {
  color: white;
/*  font-size: xx-small; */
}

li.timing-row-parent-li > span.timing-row {
  color: white;
  opacity: 1;
}

li.timing-row-parent-li.greyed-out > span.timing-row {
  color: white;
  opacity: .3;
}

li.timing-row-parent-li.minimized-to-invisibility ,
li.timing-row-parent-li.extra-unhighlighted {
  display: none;
}

.timing-row.highlighted-from-canvas {
  color: red !important;
}

ul.timings-categories-tree {
  color: white;
}

.proc-node > a, .proc-leaf > a {
  cursor: pointer;
}

.proc-node.unhighlighted-node > a,
.proc-leaf.unhighlighted-node > a {
  opacity: 0.3;
}

li.proc-node-open, li.proc-node-closed, li.proc-leaf {
  list-style-type: none;
}

li.proc-leaf {
  margin-left: 14px;
}

.proc-node-icon {
  cursor: pointer;
}

.proc-node-open .proc-node-icon {
  background: url('../img/proc-node-minus.png') no-repeat top left;
}

.proc-node-closed .proc-node-icon {
  background: url('../img/proc-node-plus.png') no-repeat top left;
}

.proc-node-open .proc-node-icon, .proc-node-closed .proc-node-icon {
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.proc-node-closed > ul {
  display: none;
}

.root-node > .proc-node-icon {
  display: none;
}

.root-node > .notebook-node-title-container > span {
  cursor: pointer;
}

.root-node > ul {
  margin-block-start: 4px;
  padding-inline-start: 0;
}

.notebook-node-icon {
  position: relative;
  cursor: pointer;
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.notebook-node-icon .tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-top-right-radius: 6px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.notebook-node-icon:hover .tooltip {
  visibility: visible;
}

.notebook-node-title-container {
  display: inline-block;
}

.icon-open-tag-in-tags-tree,
.icon-open-tags-of-children-in-tags-tree {
  display: none;
}

.icon-increase-font-size {
  background-image: url('../img/proc-node-plus.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 10px;
  height: 10px;
}

.icon-decrease-font-size {
  background-image: url('../img/proc-node-minus.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 10px;
  height: 10px;
}

li.first-visible > .notebook-node-title-container > .notebook-node-icons > .icon-move-to-top,
.root-node       > .notebook-node-title-container > .notebook-node-icons > .icon-move-to-top {
  display: none;
}

.icon-move-to-top {
  background-image: url('../img/up-arrow-icon-22-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

li.last-visible > .notebook-node-title-container > .notebook-node-icons > .icon-move-to-bottom,
.root-node      > .notebook-node-title-container > .notebook-node-icons > .icon-move-to-bottom {
  display: none;
}

.icon-move-to-bottom {
  background-image: url('../img/down-arrow-icon-22-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

li.last-visible > .notebook-node-title-container > .notebook-node-icons > .icon-hide-siblings-below,
.root-node      > .notebook-node-title-container > .notebook-node-icons > .icon-hide-siblings-below {
  display: none;
}

.icon-hide-siblings-below {
  background-image: url('../img/down-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.root-node > .notebook-node-title-container > .notebook-node-icons > .icon-hide {
  display: none;
}

.icon-hide {
  background-image: url('../img/eye-slash-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.proc-node .icon-unhide-hidden-children {
  display: none;
}

.proc-node.has-hidden-children > .notebook-node-title-container > .notebook-node-icons > .icon-unhide-hidden-children {
  display: inline-block;
}

.icon-unhide-hidden-children {
  background-image: url('../img/eye-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.notebook-node-title-container > div {
  display: inline-block;
}

.notebook-node-title-container .notebook-node-icons {
  visibility: hidden;
  padding-left: 4px;
}

.notebook-node-title-container:hover .notebook-node-icons {
  visibility: visible;
}

