html {
  height: 100%;
}


body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}

#topmost-wrapper {
  height: 100%;
  overflow: hidden;
}

.row {
  display: flex;
}

#left-panel {
  overflow: hidden;
  height: 100%;
  width: 67%;
  min-width: 100px;
  color: white;
}

#timings-main-container {
/*  flex: initial;  */
/*  flex: 1 1 auto;  */
  overflow: hidden;
  margin: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#resizer-between-timings-and-notes {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4px;
}

#resizer-between-timings-and-notes:hover {
  cursor: ew-resize;
}

#resizer-line-between-timings-and-notes {
  height: 120px;
  width: 4px;
  border-left: 1px solid grey;
}

#notebook-main-container {
  flex: 1 1 0%;
  color: white;
}

#notebook-main-container.hidden-tags-panel > #tags-and-links-content-outer-wrapper {
  display: none
}

#notebook-main-container.hidden-tags-panel > #resizer-between-tags-and-notes {
  display: none
}

#notebook-main-container.hidden-tags-panel > #notes-content-outer-wrapper {
  height: 100%;
  overflow: hidden;
}

#notebook-main-container:not(.hidden-tags-panel) {
  display: flex;
  height: 100%;
  overflow: hidden;
}

#tags-and-links-content-outer-wrapper {
  border-right: 1px solid grey;
  overflow: hidden;
  width: 30%;
}

#resizer-between-tags-and-notes {
  width: 2px;
}

#resizer-between-tags-and-notes:hover {
  cursor: ew-resize;
}


#notebook-main-container:not(.hidden-tags-panel) > #notes-content-outer-wrapper {
  flex: 1 1 0%;
  overflow: hidden;
}

#tags-and-links-content-top-wrapper,
#tags-and-links-content-bottom-wrapper {
  overflow-y: auto;
  overflow-x: auto;
}

#tags-and-links-content-top-wrapper,
#tags-and-links-content-bottom-wrapper,
#notes-content-bottom-wrapper {
  flex: 1 1 1px;
}

/* #tags-and-links-content-bottom-wrapper {  */
/*   height: 100%;                           */
/* }                                         */

#notes-content-top-wrapper,
#notes-content-bottom-wrapper {
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 5px;
}

#notes-content-top-wrapper > li,
#notes-content-bottom-wrapper > li {
  margin-top: 5px;
}

/* #notes-content-bottom-wrapper {  */
/*   height: 100%;                  */
/* }                                */

#tags-and-links-content-top-wrapper > ul,
#tags-and-links-content-bottom-wrapper > ul {
  margin-top: 5px;
  padding-inline-start: 8px;
}

#resizer-between-top-and-bottom-panels-of-tags,
#resizer-between-top-and-bottom-panels-of-notes {
  display: none;
}

#tags-and-links-content-bottom-outer-wrapper,
#notes-content-bottom-outer-wrapper {
  display: none;
}

#tags-and-links-content-outer-wrapper:not(.as-two-panels):not(.maximized-bottom-panel) > 
#tags-and-links-content-top-outer-wrapper {
  height: 100%;
  overflow: hidden;
}

#tags-and-links-content-outer-wrapper:not(.as-two-panels):not(.maximized-bottom-panel) > 
#tags-and-links-content-top-wrapper,
#notes-content-outer-wrapper:not(.as-two-panels):not(.maximized-bottom-panel) > 
#notes-content-top-wrapper {
  height: 100%;
}

#tags-and-links-content-outer-wrapper.as-two-panels,
#notes-content-outer-wrapper.as-two-panels {
  display: flex;
  flex-direction: column;
  height: 100%;
}





#tags-and-links-content-outer-wrapper.as-two-panels >
#tags-and-links-content-top-outer-wrapper {
  height: 30%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

#tags-and-links-content-outer-wrapper.as-two-panels >
#resizer-between-top-and-bottom-panels-of-tags {
  display: block;
  flex: 0 0 auto;
  height: 4px;
}

#tags-and-links-content-outer-wrapper.as-two-panels >
#resizer-between-top-and-bottom-panels-of-tags:hover {
  cursor: ns-resize;
}

#tags-and-links-content-outer-wrapper.as-two-panels >
#tags-and-links-content-bottom-outer-wrapper {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
}





#notes-content-outer-wrapper.as-two-panels >
#notes-content-top-wrapper {
  height: 30%;
  flex: 0 0 auto;
}

#notes-content-outer-wrapper.as-two-panels >
#resizer-between-top-and-bottom-panels-of-notes {
  display: block;
  flex: 0 0 auto;
  height: 4px;
}

#notes-content-outer-wrapper.as-two-panels >
#resizer-between-top-and-bottom-panels-of-notes:hover {
  cursor: ns-resize;
}

#notes-content-outer-wrapper.as-two-panels >
#notes-content-bottom-outer-wrapper {
  flex: 1 1 1px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
}





#notes-content-outer-wrapper.maximized-bottom-panel >
#notes-content-top-wrapper {
  display: none;
}

#notes-content-outer-wrapper.maximized-bottom-panel >
#resizer-between-top-and-bottom-panels-of-notes {
  display: none;
}

#notes-content-outer-wrapper.maximized-bottom-panel >
#notes-content-bottom-outer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}





#notes-content-bottom-div-buttons-row {
  flex: 0 0 auto;
}




.right-corner-btns {
  float: right;
}






#notes-content-outer-wrapper.maximized-bottom-panel
#btn-open-notes-in-above-panel,
#notes-content-outer-wrapper.maximized-bottom-panel
#btn-open-notes-in-above-panel-exclusively,
#notes-content-outer-wrapper.maximized-bottom-panel
#btn-maximize-bottom-panel-of-notes,
#notes-content-outer-wrapper.maximized-bottom-panel
#btn-close-bottom-panel-of-notes
{
  display: none;
}

#notes-content-outer-wrapper:not(.maximized-bottom-panel)
#btn-unmaximize-bottom-panel-of-notes {
  display: none;
}

#categories-and-timings-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#canvas-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

#canvas-wrapper.underlined > canvas {
  border-bottom: 1px solid grey;
}

#hide-and-show-btns-container {
  flex: none;
  display: flex;
}

#timing-category-btns-container {
  flex: 0 1 auto;
  min-height: 25%;
  overflow-y: auto;
}

#timings-summary-resizer {
  height: 4px;
  display: flex;
  justify-content: center;
}

#timings-summary-resizer:hover {
  cursor: ns-resize;
}

#timings-summary-resizer-line {
  width: 40px;
  border-bottom: 1px solid grey;
}

#inner-content-wrapper {
  flex: 1 1 25%;
  min-height: 25%;
  overflow-y: auto;
/*  color: white; */
}

li.timing-row-parent-li {
/*  color: white; */
  opacity: 1;
}

li.timing-row-parent-li.greyed-out {
/*  color: white; */
  opacity: .3;
}

li.timing-row-parent-li.minimized-to-invisibility ,
li.timing-row-parent-li.extra-unhighlighted {
  display: none;
}

li.timing-row-parent-li.highlighted-from-canvas,
.timing-row.highlighted-from-canvas {
  color: red !important;
}

ul.timings-categories-tree {
/*  color: white; */
}

.proc-node > a, .proc-leaf > a {
  cursor: pointer;
}

.proc-node.unhighlighted-node > a,
.proc-leaf.unhighlighted-node > a {
  opacity: 0.3;
}

li.proc-node-open, li.proc-node-closed, li.proc-leaf {
  list-style-type: none;
}

li.proc-leaf {
  margin-left: 14px;
}

.proc-node-icon {
  cursor: pointer;
}

.proc-node-open .proc-node-icon {
  background: url('../img/white-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.proc-node-closed .proc-node-icon {
  background: url('../img/white-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

#notebook-main-container.black-icons .proc-node-open .proc-node-icon,
#left-panel.black-icons .proc-node-open .proc-node-icon {
  background: url('../img/black-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

#notebook-main-container.black-icons .proc-node-closed .proc-node-icon,
#left-panel.black-icons .proc-node-closed .proc-node-icon {
  background: url('../img/black-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

#notebook-main-container.dark-grey-icons .proc-node-open .proc-node-icon,
#left-panel.dark-grey-icons .proc-node-open .proc-node-icon {
  background: url('../img/dark-grey-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

#notebook-main-container.dark-grey-icons .proc-node-closed .proc-node-icon,
#left-panel.dark-grey-icons .proc-node-closed .proc-node-icon {
  background: url('../img/dark-grey-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

#notebook-main-container.light-grey-icons .proc-node-open .proc-node-icon,
#left-panel.light-grey-icons .proc-node-open .proc-node-icon {
  background: url('../img/light-grey-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

#notebook-main-container.light-grey-icons .proc-node-closed .proc-node-icon,
#left-panel.light-grey-icons .proc-node-closed .proc-node-icon {
  background: url('../img/light-grey-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

#notebook-main-container.white-icons .proc-node-open .proc-node-icon,
#left-panel.white-icons .proc-node-open .proc-node-icon {
  background: url('../img/white-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

#notebook-main-container.white-icons .proc-node-closed .proc-node-icon,
#left-panel.white-icons .proc-node-closed .proc-node-icon {
  background: url('../img/white-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.proc-node-open .proc-node-icon, .proc-node-closed .proc-node-icon {
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.proc-node-closed > ul {
  display: none;
}

.root-node > .proc-node-icon {
  display: none;
}

.root-node > .notebook-node-title-container > span {
  cursor: pointer;
}

.root-node > ul {
  margin-block-start: 4px;
  padding-inline-start: 0;
}

.notebook-node-icon,
.notebook-icon {
  position: relative;
  cursor: pointer;
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.notebook-node-icon .tooltip,
.notebook-icon .tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-top-right-radius: 6px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.notebook-node-icon:hover .tooltip,
.notebook-icon:hover .tooltip {
  visibility: visible;
}

.notebook-node-title-container {
  display: inline-block;
}

#btn-open-tags-in-above-panel,
#btn-open-notes-in-above-panel {
  background-image: url('../img/white-arrow-single-up-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 12px;
  height: 12px;
}

.black-icons
#btn-open-tags-in-above-panel,
.black-icons
#btn-open-notes-in-above-panel {
  background-image: url('../img/black-arrow-single-up-32.png');
}

.dark-grey-icons
#btn-open-tags-in-above-panel,
.dark-grey-icons
#btn-open-notes-in-above-panel {
  background-image: url('../img/dark-grey-arrow-single-up-32.png');
}

.light-grey-icons
#btn-open-tags-in-above-panel,
.light-grey-icons
#btn-open-notes-in-above-panel {
  background-image: url('../img/light-grey-arrow-single-up-32.png');
}

.white-icons
#btn-open-tags-in-above-panel,
.white-icons
#btn-open-notes-in-above-panel {
  background-image: url('../img/white-arrow-single-up-32.png');
}

#btn-open-tags-in-above-panel-exclusively,
#btn-open-notes-in-above-panel-exclusively {
  background-image: url('../img/white-arrow-double-up-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 12px;
  height: 12px;
}

.black-icons
#btn-open-tags-in-above-panel-exclusively,
.black-icons
#btn-open-notes-in-above-panel-exclusively {
  background-image: url('../img/black-arrow-double-up-32.png');
}

.dark-grey-icons
#btn-open-tags-in-above-panel-exclusively,
.dark-grey-icons
#btn-open-notes-in-above-panel-exclusively {
  background-image: url('../img/dark-grey-arrow-double-up-32.png');
}

.light-grey-icons
#btn-open-tags-in-above-panel-exclusively,
.light-grey-icons
#btn-open-notes-in-above-panel-exclusively {
  background-image: url('../img/light-grey-arrow-double-up-32.png');
}

.white-icons
#btn-open-tags-in-above-panel-exclusively,
.white-icons
#btn-open-notes-in-above-panel-exclusively {
  background-image: url('../img/white-arrow-double-up-32.png');
}

#btn-maximize-bottom-panel-of-notes,
#btn-unmaximize-bottom-panel-of-notes {
  background-image: url('../img/white-rectangle-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 12px;
  height: 12px;
}

.black-icons
#btn-maximize-bottom-panel-of-notes,
.black-icons
#btn-unmaximize-bottom-panel-of-notes {
  background-image: url('../img/black-rectangle-32.png');
}

.dark-grey-icons
#btn-maximize-bottom-panel-of-notes,
.dark-grey-icons
#btn-unmaximize-bottom-panel-of-notes {
  background-image: url('../img/dark-grey-rectangle-32.png');
}

.light-grey-icons
#btn-maximize-bottom-panel-of-notes,
.light-grey-icons
#btn-unmaximize-bottom-panel-of-notes {
  background-image: url('../img/light-grey-rectangle-32.png');
}

.white-icons
#btn-maximize-bottom-panel-of-notes,
.white-icons
#btn-unmaximize-bottom-panel-of-notes {
  background-image: url('../img/white-rectangle-32.png');
}

#btn-close-panel-of-tags-and-links,
#btn-close-bottom-panel-of-tags-and-links,
#btn-close-bottom-panel-of-notes {
  background-image: url('../img/white-close-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 12px;
  height: 12px;
}

.black-icons
#btn-close-panel-of-tags-and-links,
.black-icons
#btn-close-bottom-panel-of-tags-and-links,
.black-icons
#btn-close-bottom-panel-of-notes {
  background-image: url('../img/black-close-32.png');
}

.dark-grey-icons
#btn-close-panel-of-tags-and-links,
.dark-grey-icons
#btn-close-bottom-panel-of-tags-and-links,
.dark-grey-icons
#btn-close-bottom-panel-of-notes {
  background-image: url('../img/dark-grey-close-32.png');
}

.light-grey-icons
#btn-close-panel-of-tags-and-links,
.light-grey-icons
#btn-close-bottom-panel-of-tags-and-links,
.light-grey-icons
#btn-close-bottom-panel-of-notes {
  background-image: url('../img/light-grey-close-32.png');
}

.white-icons
#btn-close-panel-of-tags-and-links,
.white-icons
#btn-close-bottom-panel-of-tags-and-links,
.white-icons
#btn-close-bottom-panel-of-notes {
  background-image: url('../img/white-close-32.png');
}





.icon-edit {
  background-image: url('../img/white-edit-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-edit {
  background-image: url('../img/black-edit-icon-32.png');
}

.dark-grey-icons
.icon-edit {
  background-image: url('../img/dark-grey-edit-icon-32.png');
}

.light-grey-icons
.icon-edit {
  background-image: url('../img/light-grey-edit-icon-32.png');
}

.white-icons
.icon-edit {
  background-image: url('../img/white-edit-icon-32.png');
}

.icon-delete-from-the-right-side {
  background-image: url('../img/white-x-icon-5301-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-delete-from-the-right-side {
  background-image: url('../img/black-x-icon-5301-32.png');
}

.dark-grey-icons
.icon-delete-from-the-right-side {
  background-image: url('../img/dark-grey-x-icon-5301-32.png');
}

.light-grey-icons
.icon-delete-from-the-right-side {
  background-image: url('../img/light-grey-x-icon-5301-32.png');
}

.white-icons
.icon-delete-from-the-right-side {
  background-image: url('../img/white-x-icon-5301-32.png');
}

.icon-append-child-with-input {
  background-image: url('../img/white-file-plus-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-append-child-with-input {
  background-image: url('../img/black-file-plus-icon-32.png');
}

.dark-grey-icons
.icon-append-child-with-input {
  background-image: url('../img/dark-grey-file-plus-icon-32.png');
}

.light-grey-icons
.icon-append-child-with-input {
  background-image: url('../img/light-grey-file-plus-icon-32.png');
}

.white-icons
.icon-append-child-with-input {
  background-image: url('../img/white-file-plus-icon-32.png');
}

.icon-add-sibling-with-input {
  background-image: url('../img/white-plus-circle-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-add-sibling-with-input {
  background-image: url('../img/black-plus-circle-icon-32.png');
}

.dark-grey-icons
.icon-add-sibling-with-input {
  background-image: url('../img/dark-grey-plus-circle-icon-32.png');
}

.light-grey-icons
.icon-add-sibling-with-input {
  background-image: url('../img/light-grey-plus-circle-icon-32.png');
}

.white-icons
.icon-add-sibling-with-input {
  background-image: url('../img/white-plus-circle-icon-32.png');
}

.icon-increase-font-size {
  background-image: url('../img/white-proc-node-plus.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 10px;
  height: 10px;
}

.icon-decrease-font-size {
  background-image: url('../img/white-proc-node-minus.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 10px;
  height: 10px;
}

.black-icons
.icon-increase-font-size {
  background-image: url('../img/black-proc-node-plus.png');
}

.black-icons
.icon-decrease-font-size {
  background-image: url('../img/black-proc-node-minus.png');
}

.dark-grey-icons
.icon-increase-font-size {
  background-image: url('../img/dark-grey-proc-node-plus.png');
}

.dark-grey-icons
.icon-decrease-font-size {
  background-image: url('../img/dark-grey-proc-node-minus.png');
}

.light-grey-icons
.icon-increase-font-size {
  background-image: url('../img/light-grey-proc-node-plus.png');
}

.light-grey-icons
.icon-decrease-font-size {
  background-image: url('../img/light-grey-proc-node-minus.png');
}

.white-icons
.icon-increase-font-size {
  background-image: url('../img/white-proc-node-plus.png');
}

.white-icons
.icon-decrease-font-size {
  background-image: url('../img/white-proc-node-minus.png');
}

.icon-open-tag-in-tags-tree {
  background-image: url('../img/white-tag-round-icon-32.png');
}

.black-icons
.icon-open-tag-in-tags-tree {
  background-image: url('../img/black-tag-round-icon-32.png');
}

.dark-grey-icons
.icon-open-tag-in-tags-tree {
  background-image: url('../img/dark-grey-tag-round-icon-32.png');
}

.light-grey-icons
.icon-open-tag-in-tags-tree {
  background-image: url('../img/light-grey-tag-round-icon-32.png');
}

.white-icons
.icon-open-tag-in-tags-tree {
  background-image: url('../img/white-tag-round-icon-32.png');
}

.icon-open-tags-of-children-in-tags-tree {
  background-image: url('../img/white-tags-icon-35-32.png');
}

.black-icons
.icon-open-tags-of-children-in-tags-tree {
  background-image: url('../img/black-tags-icon-35-32.png');
}

.dark-grey-icons
.icon-open-tags-of-children-in-tags-tree {
  background-image: url('../img/dark-grey-tags-icon-35-32.png');
}

.light-grey-icons
.icon-open-tags-of-children-in-tags-tree {
  background-image: url('../img/light-grey-tags-icon-35-32.png');
}

.white-icons
.icon-open-tags-of-children-in-tags-tree {
  background-image: url('../img/white-tags-icon-35-32.png');
}

.icon-open-notes-with-the-same-tag-in-bottom-panel {
  background-image: url('../img/white-chevrons-down-32.png');
}

.black-icons
.icon-open-notes-with-the-same-tag-in-bottom-panel {
  background-image: url('../img/black-chevrons-down-32.png');
}

.dark-grey-icons
.icon-open-notes-with-the-same-tag-in-bottom-panel {
  background-image: url('../img/dark-grey-chevrons-down-32.png');
}

.light-grey-icons
.icon-open-notes-with-the-same-tag-in-bottom-panel {
  background-image: url('../img/light-grey-chevrons-down-32.png');
}

.white-icons
.icon-open-notes-with-the-same-tag-in-bottom-panel {
  background-image: url('../img/white-chevrons-down-32.png');
}

li:first-child > .notebook-node-title-container > .notebook-node-icons > .icon-move-to-top,
.root-node       > .notebook-node-title-container > .notebook-node-icons > .icon-move-to-top {
  display: none;
}

.icon-move-to-top {
  background-image: url('../img/white-up-arrow-icon-22-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

.black-icons
.icon-move-to-top {
  background-image: url('../img/black-up-arrow-icon-22-32.png');
}

.dark-grey-icons
.icon-move-to-top {
  background-image: url('../img/dark-grey-up-arrow-icon-22-32.png');
}

.light-grey-icons
.icon-move-to-top {
  background-image: url('../img/light-grey-up-arrow-icon-22-32.png');
}

.white-icons
.icon-move-to-top {
  background-image: url('../img/white-up-arrow-icon-22-32.png');
}

li:last-child > .notebook-node-title-container > .notebook-node-icons > .icon-move-to-bottom,
.root-node      > .notebook-node-title-container > .notebook-node-icons > .icon-move-to-bottom {
  display: none;
}

.icon-move-to-bottom {
  background-image: url('../img/white-down-arrow-icon-22-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

.black-icons
.icon-move-to-bottom {
  background-image: url('../img/black-down-arrow-icon-22-32.png');
}

.dark-grey-icons
.icon-move-to-bottom {
  background-image: url('../img/dark-grey-down-arrow-icon-22-32.png');
}

.light-grey-icons
.icon-move-to-bottom {
  background-image: url('../img/light-grey-down-arrow-icon-22-32.png');
}

.white-icons
.icon-move-to-bottom {
  background-image: url('../img/white-down-arrow-icon-22-32.png');
}

li:last-child > .notebook-node-title-container > .notebook-node-icons > .icon-hide-siblings-below,
.root-node      > .notebook-node-title-container > .notebook-node-icons > .icon-hide-siblings-below {
  display: none;
}

.icon-hide-siblings-below {
  background-image: url('../img/white-down-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-hide-siblings-below {
  background-image: url('../img/black-down-icon-32.png');
}

.dark-grey-icons
.icon-hide-siblings-below {
  background-image: url('../img/dark-grey-down-icon-32.png');
}

.light-grey-icons
.icon-hide-siblings-below {
  background-image: url('../img/light-grey-down-icon-32.png');
}

.white-icons
.icon-hide-siblings-below {
  background-image: url('../img/white-down-icon-32.png');
}

.root-node > .notebook-node-title-container > .notebook-node-icons > .icon-hide {
  display: none;
}

.icon-hide {
  background-image: url('../img/white-eye-slash-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-hide {
  background-image: url('../img/black-eye-slash-32.png');
}

.dark-grey-icons
.icon-hide {
  background-image: url('../img/dark-grey-eye-slash-32.png');
}

.light-grey-icons
.icon-hide {
  background-image: url('../img/light-grey-eye-slash-32.png');
}

.white-icons
.icon-hide {
  background-image: url('../img/white-eye-slash-32.png');
}

.proc-node .icon-unhide-hidden-children {
  display: none;
}

.proc-node.has-hidden-children > .notebook-node-title-container > .notebook-node-icons > .icon-unhide-hidden-children {
  display: inline-block;
}

.icon-unhide-hidden-children {
  background-image: url('../img/white-eye-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-unhide-hidden-children {
  background-image: url('../img/black-eye-32.png');
}

.dark-grey-icons
.icon-unhide-hidden-children {
  background-image: url('../img/dark-grey-eye-32.png');
}

.light-grey-icons
.icon-unhide-hidden-children {
  background-image: url('../img/light-grey-eye-32.png');
}

.white-icons
.icon-unhide-hidden-children {
  background-image: url('../img/white-eye-32.png');
}

.icon-open-node-in-top-panel {
  background-image: url('../img/white-arrow-single-up-32.png');
}

.black-icons
.icon-open-node-in-top-panel {
  background-image: url('../img/black-arrow-single-up-32.png');
}

.dark-grey-icons
.icon-open-node-in-top-panel {
  background-image: url('../img/dark-grey-arrow-single-up-32.png');
}

.light-grey-icons
.icon-open-node-in-top-panel {
  background-image: url('../img/light-grey-arrow-single-up-32.png');
}

.white-icons
.icon-open-node-in-top-panel {
  background-image: url('../img/white-arrow-single-up-32.png');
}




.notebook-node-title-container > div {
  display: inline-block;
}

.notebook-node-title-container .notebook-node-icons {
  visibility: hidden;
  padding-left: 4px;
}

.notebook-node-title-container:hover .notebook-node-icons {
  visibility: visible;
}







#frequencies-main-content-wrapper {
  height: 100%;
/*  color: white; */
}

#frequencies-main-content-wrapper
.proc-node > .process-node-title-container > a,
#frequencies-main-content-wrapper
.proc-leaf > .process-node-title-container > a {
  cursor: pointer;
}

/* .process-info > .process-node-title-container > a { */
/*   font-style: italic; */
/* } */

#frequencies-main-content-wrapper
.proc-node.unhighlighted-node > .process-node-title-container > a,
#frequencies-main-content-wrapper
.proc-leaf.unhighlighted-node > .process-node-title-container > a {
  opacity: 0.3;
}

#frequencies-main-content-wrapper
li.proc-node-open,
#frequencies-main-content-wrapper
li.proc-node-closed,
#frequencies-main-content-wrapper
li.proc-leaf {
  list-style-type: none;
}

#frequencies-main-content-wrapper
li.proc-node-open > div,
#frequencies-main-content-wrapper
li.proc-node-closed > div,
#frequencies-main-content-wrapper
li.proc-leaf > div {
  display: inline;
}

#frequencies-main-content-wrapper
li.proc-leaf {
  margin-left: 14px;
}

#frequencies-main-content-wrapper
.proc-node-icon {
  cursor: pointer;
}

#frequencies-main-content-wrapper
.proc-node-open .proc-node-icon {
  background: url('../img/white-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

#frequencies-main-content-wrapper
.proc-node-closed .proc-node-icon {
  background: url('../img/white-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.black-icons
#frequencies-main-content-wrapper
.proc-node-open .proc-node-icon {
  background: url('../img/black-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.black-icons
#frequencies-main-content-wrapper
.proc-node-closed .proc-node-icon {
  background: url('../img/black-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.dark-grey-icons
#frequencies-main-content-wrapper
.proc-node-open .proc-node-icon {
  background: url('../img/dark-grey-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.dark-grey-icons
#frequencies-main-content-wrapper
.proc-node-closed .proc-node-icon {
  background: url('../img/dark-grey-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.light-grey-icons
#frequencies-main-content-wrapper
.proc-node-open .proc-node-icon {
  background: url('../img/light-grey-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.light-grey-icons
#frequencies-main-content-wrapper
.proc-node-closed .proc-node-icon {
  background: url('../img/light-grey-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.white-icons
#frequencies-main-content-wrapper
.proc-node-open .proc-node-icon {
  background: url('../img/white-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.white-icons
#frequencies-main-content-wrapper
.proc-node-closed .proc-node-icon {
  background: url('../img/white-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

#frequencies-main-content-wrapper
.proc-node-open .proc-node-icon,
#frequencies-main-content-wrapper
.proc-node-closed .proc-node-icon {
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

#frequencies-main-content-wrapper
.proc-node-closed > ul {
  display: none;
}

#frequencies-main-content-wrapper
.root-node > .proc-node-icon {
  display: none;
}

#frequencies-main-content-wrapper
.root-node > .process-node-title-container > span {
  cursor: pointer;
}

#frequencies-main-content-wrapper
.root-node > ul {
  margin-block-start: 4px;
  padding-inline-start: 0;
}

#frequencies-main-content-wrapper
.process-node-icon {
  position: relative;
  cursor: pointer;
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

#frequencies-main-content-wrapper
.process-node-icon .tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-top-right-radius: 6px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
}

#frequencies-main-content-wrapper
.process-node-icon:hover .tooltip {
  visibility: visible;
}

#frequencies-main-content-wrapper
.icon-show-this-process-only {
  background-image: url('../img/white-upload-flipped-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
#frequencies-main-content-wrapper
.icon-show-this-process-only {
  background-image: url('../img/black-upload-flipped-32.png');
}

.dark-grey-icons
#frequencies-main-content-wrapper
.icon-show-this-process-only {
  background-image: url('../img/dark-grey-upload-flipped-32.png');
}

.light-grey-icons
#frequencies-main-content-wrapper
.icon-show-this-process-only {
  background-image: url('../img/light-grey-upload-flipped-32.png');
}

.white-icons
#frequencies-main-content-wrapper
.icon-show-this-process-only {
  background-image: url('../img/white-upload-flipped-32.png');
}

#frequencies-main-content-wrapper
.proc-node.merged-children > .process-node-title-container > .process-node-icons > .icon-merge-subprocesses,
#frequencies-main-content-wrapper
.proc-node.merged-child    > .process-node-title-container > .process-node-icons > .icon-merge-subprocesses,
/* .proc-node.process-info    > .process-node-title-container > .process-node-icons > .icon-merge-subprocesses, */
#frequencies-main-content-wrapper
.proc-node.proc-leaf       > .process-node-title-container > .process-node-icons > .icon-merge-subprocesses {
  display: none;
}

#frequencies-main-content-wrapper
.icon-merge-subprocesses {
  display: inline-block;
  background-image: url('../img/white-grid-on-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
#frequencies-main-content-wrapper
.icon-merge-subprocesses {
  background-image: url('../img/black-grid-on-32.png');
}

.dark-grey-icons
#frequencies-main-content-wrapper
.icon-merge-subprocesses {
  background-image: url('../img/dark-grey-grid-on-32.png');
}

.light-grey-icons
#frequencies-main-content-wrapper
.icon-merge-subprocesses {
  background-image: url('../img/light-grey-grid-on-32.png');
}

.white-icons
#frequencies-main-content-wrapper
.icon-merge-subprocesses {
  background-image: url('../img/white-grid-on-32.png');
}

#frequencies-main-content-wrapper
.icon-unmerge-subprocesses,
#frequencies-main-content-wrapper
.proc-node.merged-child    > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses {
  display: none;
}

#frequencies-main-content-wrapper
.icon-unmerge-subprocesses-as-subprocess,
#frequencies-main-content-wrapper
.proc-node.merged-children > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses-as-subprocess {
  display: none;
}

#frequencies-main-content-wrapper
.proc-node.merged-children > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses {
  display: inline-block;
  background-image: url('../img/white-grid-off-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
#frequencies-main-content-wrapper
.proc-node.merged-children > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses {
  background-image: url('../img/black-grid-off-32.png');
}

.dark-grey-icons
#frequencies-main-content-wrapper
.proc-node.merged-children > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses {
  background-image: url('../img/dark-grey-grid-off-32.png');
}

.light-grey-icons
#frequencies-main-content-wrapper
.proc-node.merged-children > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses {
  background-image: url('../img/light-grey-grid-off-32.png');
}

.white-icons
#frequencies-main-content-wrapper
.proc-node.merged-children > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses {
  background-image: url('../img/white-grid-off-32.png');
}

#frequencies-main-content-wrapper
.proc-node.merged-child    > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses-as-subprocess {
  display: inline-block;
  background-image: url('../img/white-asset-lock-icon-21-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

.black-icons
#frequencies-main-content-wrapper
.proc-node.merged-child    > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses-as-subprocess {
  background-image: url('../img/black-asset-lock-icon-21-32.png');
}

.dark-grey-icons
#frequencies-main-content-wrapper
.proc-node.merged-child    > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses-as-subprocess {
  background-image: url('../img/dark-grey-asset-lock-icon-21-32.png');
}

.light-grey-icons
#frequencies-main-content-wrapper
.proc-node.merged-child    > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses-as-subprocess {
  background-image: url('../img/light-grey-asset-lock-icon-21-32.png');
}

.white-icons
#frequencies-main-content-wrapper
.proc-node.merged-child    > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses-as-subprocess {
  background-image: url('../img/white-asset-lock-icon-21-32.png');
}

/* .proc-node.process-info    > .process-node-title-container > .process-node-icons > .icon-unmerge-subprocesses { */
/*   display: none; */
/* } */

#frequencies-main-content-wrapper
li:first-child > .process-node-title-container > .process-node-icons > .icon-move-to-top {
  display: none;
}

#frequencies-main-content-wrapper
.icon-move-to-top {
  background-image: url('../img/white-up-arrow-icon-22-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

.black-icons
#frequencies-main-content-wrapper
.icon-move-to-top {
  background-image: url('../img/black-up-arrow-icon-22-32.png');
}

.dark-grey-icons
#frequencies-main-content-wrapper
.icon-move-to-top {
  background-image: url('../img/dark-grey-up-arrow-icon-22-32.png');
}

.light-grey-icons
#frequencies-main-content-wrapper
.icon-move-to-top {
  background-image: url('../img/light-grey-up-arrow-icon-22-32.png');
}

.white-icons
#frequencies-main-content-wrapper
.icon-move-to-top {
  background-image: url('../img/white-up-arrow-icon-22-32.png');
}

#frequencies-main-content-wrapper
li:last-child > .process-node-title-container > .process-node-icons > .icon-move-to-bottom {
  display: none;
}

#frequencies-main-content-wrapper
.icon-move-to-bottom {
  background-image: url('../img/white-down-arrow-icon-22-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

.black-icons
#frequencies-main-content-wrapper
.icon-move-to-bottom {
  background-image: url('../img/black-down-arrow-icon-22-32.png');
}

.dark-grey-icons
#frequencies-main-content-wrapper
.icon-move-to-bottom {
  background-image: url('../img/dark-grey-down-arrow-icon-22-32.png');
}

.light-grey-icons
#frequencies-main-content-wrapper
.icon-move-to-bottom {
  background-image: url('../img/light-grey-down-arrow-icon-22-32.png');
}

.white-icons
#frequencies-main-content-wrapper
.icon-move-to-bottom {
  background-image: url('../img/white-down-arrow-icon-22-32.png');
}

#frequencies-main-content-wrapper
li:last-child > .process-node-title-container > .process-node-icons > .icon-hide-siblings-below {
  display: none;
}

#frequencies-main-content-wrapper
.icon-hide-siblings-below {
  background-image: url('../img/white-down-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
#frequencies-main-content-wrapper
.icon-hide-siblings-below {
  background-image: url('../img/black-down-icon-32.png');
}

.dark-grey-icons
#frequencies-main-content-wrapper
.icon-hide-siblings-below {
  background-image: url('../img/dark-grey-down-icon-32.png');
}

.light-grey-icons
#frequencies-main-content-wrapper
.icon-hide-siblings-below {
  background-image: url('../img/light-grey-down-icon-32.png');
}

.white-icons
#frequencies-main-content-wrapper
.icon-hide-siblings-below {
  background-image: url('../img/white-down-icon-32.png');
}

#frequencies-main-content-wrapper
.root-node > .process-node-title-container > .process-node-icons > .icon-hide,
#frequencies-main-content-wrapper
.root-node > .process-node-title-container > .process-node-icons > .icon-show-this-process-only {
  display: none;
}

#frequencies-main-content-wrapper
.icon-hide {
  background-image: url('../img/white-eye-slash-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
#frequencies-main-content-wrapper
.icon-hide {
  background-image: url('../img/black-eye-slash-32.png');
}

.dark-grey-icons
#frequencies-main-content-wrapper
.icon-hide {
  background-image: url('../img/dark-grey-eye-slash-32.png');
}

.light-grey-icons
#frequencies-main-content-wrapper
.icon-hide {
  background-image: url('../img/light-grey-eye-slash-32.png');
}

.white-icons
#frequencies-main-content-wrapper
.icon-hide {
  background-image: url('../img/white-eye-slash-32.png');
}

#frequencies-main-content-wrapper
.proc-node .icon-unhide-hidden-children {
  display: none;
}

#frequencies-main-content-wrapper
.proc-node.has-hidden-children > .process-node-title-container > .process-node-icons > .icon-unhide-hidden-children {
  display: inline-block;
}

#frequencies-main-content-wrapper
.icon-unhide-hidden-children {
  background-image: url('../img/white-eye-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
#frequencies-main-content-wrapper
.icon-unhide-hidden-children {
  background-image: url('../img/black-eye-32.png');
}

.dark-grey-icons
#frequencies-main-content-wrapper
.icon-unhide-hidden-children {
  background-image: url('../img/dark-grey-eye-32.png');
}

.light-grey-icons
#frequencies-main-content-wrapper
.icon-unhide-hidden-children {
  background-image: url('../img/light-grey-eye-32.png');
}

.white-icons
#frequencies-main-content-wrapper
.icon-unhide-hidden-children {
  background-image: url('../img/white-eye-32.png');
}

#frequencies-view-two-halves-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* height: 600px; */
}

#frequencies-view-top-half {
  /* flex: 1 1 400px; */
  display: flex;
  flex-direction: column;
  height: 50%;
}

#frequencies-view-two-halves-container > #resizer-in-frequencies {
  height: 2px;
  display: flex;
  justify-content: center;
}

#frequencies-view-two-halves-container > #resizer-in-frequencies:hover {
  cursor: ns-resize;
}

#frequencies-view-two-halves-container > #resizer-in-frequencies > .resizer-line {
  width: 40px;
  border-bottom: 1px solid grey;
}

#frequencies-view-bottom-half {
  flex: 1 1 0%;
  overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: grey;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#frequencies-view-top-half > #period-buttons-row {
  flex: 0 0 auto;
}

#frequencies-view-top-half > #canvas-container {
  /* flex: 1 1 0%; */
  flex-grow: 1;
  position: relative;
}

#frequencies-view-top-half > #canvas-container > #canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#frequencies-main-content-wrapper
.process-node-title-container > div {
  display: inline-block;
}

#frequencies-main-content-wrapper
.process-node-title-container .process-node-icons {
  visibility: hidden;
  padding-left: 4px;
}

#frequencies-main-content-wrapper
.process-node-title-container:hover .process-node-icons {
  visibility: visible;
}

/* #processes-tree-container-ul {             */
/*   width: 100%;                             */
/* }                                          */
/*                                            */
/* #processes-tree-secondary-container-div {  */
/*   width: 100%;                             */
/* }                                          */

#processes-tree-container-ul.inactive {
  display: none;
}

#processes-tree-secondary-container-div.inactive {
  display: none;
}

#secondary-show-all-btn {
  margin-top: 16px;
}

#processes-tree-secondary-ul {
  margin-top: unset;
}

#btn-plus-month {
  margin-left: 4px;
}

#btn-plus-week {
  margin-left: 4px;
}

#period-info {
  margin-left: 4px;
}





#history-main-container {
  overflow: hidden;
  margin: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#history-main-container
#days-btns-container {
  flex: none;
}

#history-main-container
#canvas-and-timings-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#history-main-container
#canvas-wrapper-in-history {
  flex: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#history-main-container
#canvas-wrapper-in-history.underlined > canvas {
  border-bottom: 1px solid grey;
}

#history-main-container
#categories-and-timings-container-in-history {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
#history-main-container
#timing-category-btns-container-in-history {
  flex: 0 1 auto;
  min-height: 25%;
  overflow-y: auto;
}

#history-main-container
#resizer-in-history {
  height: 4px;
  display: flex;
  justify-content: center;
}

#history-main-container
#resizer-in-history:hover {
  cursor: ns-resize;
}

#history-main-container
#resizer-in-history > .resizer-line {
  width: 40px;
  border-bottom: 1px solid grey;
}

#history-main-container
#inner-content-wrapper-in-history {
  flex: 1 1 25%;
  min-height: 25%;
  overflow-y: auto;
/*  color: white; */
}

#history-main-container
li.timing-row-parent-li {
/*  color: white; */
  opacity: 1;
}

#history-main-container
li.timing-row-parent-li.greyed-out {
/*  color: white; */
  opacity: .3;
}

#history-main-container
li.timing-row-parent-li.minimized-to-invisibility ,
#history-main-container
li.timing-row-parent-li.extra-unhighlighted {
  display: none;
}

#history-main-container
li.timing-row-parent-li.highlighted-from-canvas,
#history-main-container
.timing-row.highlighted-from-canvas {
  color: red !important;
}

#history-main-container
ul.timings-categories-tree {
/*  color: white; */
}

#history-main-container
.proc-node > a,
#history-main-container
.proc-leaf > a {
  cursor: pointer;
}

#history-main-container
.proc-node.unhighlighted-node > a,
#history-main-container
.proc-leaf.unhighlighted-node > a {
  opacity: 0.3;
}

#history-main-container
li.proc-node-open,
#history-main-container
li.proc-node-closed,
#history-main-container
li.proc-leaf {
  list-style-type: none;
}

#history-main-container
li.proc-node-open > div,
#history-main-container
li.proc-node-closed > div,
#history-main-container
li.proc-leaf > div {
  display: inline;
}

#history-main-container
li.proc-leaf {
  margin-left: 14px;
}

#history-main-container
.proc-node-icon {
  cursor: pointer;
}

#history-main-container
.proc-node-open .proc-node-icon {
  background: url('../img/white-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

#history-main-container
.proc-node-closed .proc-node-icon {
  background: url('../img/white-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.black-icons
#history-main-container
.proc-node-open .proc-node-icon {
  background: url('../img/black-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.black-icons
#history-main-container
.proc-node-closed .proc-node-icon {
  background: url('../img/black-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.dark-grey-icons
#history-main-container
.proc-node-open .proc-node-icon {
  background: url('../img/dark-grey-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.dark-grey-icons
#history-main-container
.proc-node-closed .proc-node-icon {
  background: url('../img/dark-grey-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.light-grey-icons
#history-main-container
.proc-node-open .proc-node-icon {
  background: url('../img/light-grey-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.light-grey-icons
#history-main-container
.proc-node-closed .proc-node-icon {
  background: url('../img/light-grey-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.white-icons
#history-main-container
.proc-node-open .proc-node-icon {
  background: url('../img/white-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.white-icons
#history-main-container
.proc-node-closed .proc-node-icon {
  background: url('../img/white-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

#history-main-container
.proc-node-open .proc-node-icon,
#history-main-container
.proc-node-closed .proc-node-icon {
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

#history-main-container
.proc-node-closed > ul {
  display: none;
}
