html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#notebook-main-container {
  height: 100%;
  overflow: hidden;
}

#notebook-main-container.hidden-tags-panel > #tags-and-links-content-outer-wrapper {
  display: none
}

#notebook-main-container.hidden-tags-panel > #resizer-between-tags-and-notes {
  display: none
}

#notebook-main-container.hidden-tags-panel > #notes-content-outer-wrapper {
  height: 100%;
  overflow: hidden;
}

#notebook-main-container:not(.hidden-tags-panel) {
  display: flex;
}

#tags-and-links-content-outer-wrapper {
  border-right: 1px solid grey;
  overflow: hidden;
  width: 30%;
}

#resizer-between-tags-and-notes {
  width: 2px;
}

#resizer-between-tags-and-notes:hover {
  cursor: ew-resize;
}

#notes-content-outer-wrapper {
  flex: 1 1 0%;
  overflow: hidden;
}

#tags-and-links-content-top-wrapper,
#tags-and-links-content-bottom-wrapper {
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

#tags-and-links-content-top-wrapper,
#tags-and-links-content-bottom-wrapper,
#notes-content-bottom-wrapper {
  flex: 1 1 1px;
}

/* #tags-and-links-content-bottom-wrapper {  */
/*   height: 100%;                           */
/* }                                         */

#notes-content-top-wrapper,
#notes-content-bottom-wrapper {
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 5px;
  position: relative;
}

#notes-content-top-wrapper > li,
#notes-content-bottom-wrapper > li {
  margin-top: 5px;
}

/* #notes-content-bottom-wrapper {  */
/*   height: 100%;                  */
/* }                                */

#tags-and-links-content-top-wrapper > ul,
#tags-and-links-content-bottom-wrapper > ul {
  margin-top: 5px;
  padding-inline-start: 8px;
}

#resizer-between-top-and-bottom-panels-of-tags,
#resizer-between-top-and-bottom-panels-of-notes {
  display: none;
}

#tags-and-links-content-bottom-outer-wrapper,
#notes-content-bottom-outer-wrapper {
  display: none;
}

#tags-and-links-content-outer-wrapper:not(.as-two-panels):not(.maximized-bottom-panel) > 
#tags-and-links-content-top-outer-wrapper {
  height: 100%;
  overflow: hidden;
}

#notes-content-outer-wrapper:not(.as-two-panels):not(.maximized-bottom-panel) > 
#notes-content-top-wrapper {
  height: 100%;
}

#tags-and-links-content-outer-wrapper.as-two-panels,
#notes-content-outer-wrapper.as-two-panels {
  display: flex;
  flex-direction: column;
  height: 100%;
}





#tags-and-links-content-outer-wrapper.as-two-panels >
#tags-and-links-content-top-outer-wrapper {
  height: 30%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

#tags-and-links-content-outer-wrapper.as-two-panels >
#resizer-between-top-and-bottom-panels-of-tags {
  display: block;
  flex: 0 0 auto;
  height: 4px;
}

#tags-and-links-content-outer-wrapper.as-two-panels >
#resizer-between-top-and-bottom-panels-of-tags:hover {
  cursor: ns-resize;
}

#tags-and-links-content-outer-wrapper.as-two-panels >
#tags-and-links-content-bottom-outer-wrapper {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
}





#notes-content-outer-wrapper.as-two-panels >
#notes-content-top-wrapper {
  height: 30%;
  flex: 0 0 auto;
}

#notes-content-outer-wrapper.as-two-panels >
#resizer-between-top-and-bottom-panels-of-notes {
  display: block;
  flex: 0 0 auto;
  height: 4px;
}

#notes-content-outer-wrapper.as-two-panels >
#resizer-between-top-and-bottom-panels-of-notes:hover {
  cursor: ns-resize;
}

#notes-content-outer-wrapper.as-two-panels >
#notes-content-bottom-outer-wrapper {
  flex: 1 1 1px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
}





#notes-content-outer-wrapper.maximized-bottom-panel >
#notes-content-top-wrapper {
  display: none;
}

#notes-content-outer-wrapper.maximized-bottom-panel >
#resizer-between-top-and-bottom-panels-of-notes {
  display: none;
}

#notes-content-outer-wrapper.maximized-bottom-panel >
#notes-content-bottom-outer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}





#notes-content-bottom-div-buttons-row {
  flex: 0 0 auto;
}




.right-corner-btns {
  float: right;
}






#notes-content-outer-wrapper.maximized-bottom-panel
#btn-open-notes-in-above-panel,
#notes-content-outer-wrapper.maximized-bottom-panel
#btn-open-notes-in-above-panel-exclusively,
#notes-content-outer-wrapper.maximized-bottom-panel
#btn-maximize-bottom-panel-of-notes,
#notes-content-outer-wrapper.maximized-bottom-panel
#btn-close-bottom-panel-of-notes
{
  display: none;
}

#notes-content-outer-wrapper:not(.maximized-bottom-panel)
#btn-unmaximize-bottom-panel-of-notes {
  display: none;
}





p.some-class {
    color: green;
    margin-left: 30px;
}


li.proc-node-open, li.proc-node-closed, li.proc-leaf {
  list-style-type: none;
}

li.proc-node-open > div, li.proc-node-closed > div, li.proc-leaf > div {
  display: inline;
}

li.proc-leaf {
  margin-left: 14px;
}

.proc-node-icon {
  cursor: pointer;
}

.proc-node-open .proc-node-icon {
  background: url('../img/black-proc-node-minus.png') no-repeat top left;
}

.black-icons
.proc-node-open .proc-node-icon {
  background: url('../img/black-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.dark-grey-icons
.proc-node-open .proc-node-icon {
  background: url('../img/dark-grey-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.light-grey-icons
.proc-node-open .proc-node-icon {
  background: url('../img/light-grey-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.white-icons
.proc-node-open .proc-node-icon {
  background: url('../img/white-proc-node-minus.png') no-repeat top left;
  background-size: contain;
}

.proc-node-closed .proc-node-icon {
  background: url('../img/black-proc-node-plus.png') no-repeat top left;
}

.black-icons
.proc-node-closed .proc-node-icon {
  background: url('../img/black-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.dark-grey-icons
.proc-node-closed .proc-node-icon {
  background: url('../img/dark-grey-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.light-grey-icons
.proc-node-closed .proc-node-icon {
  background: url('../img/light-grey-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.white-icons
.proc-node-closed .proc-node-icon {
  background: url('../img/white-proc-node-plus.png') no-repeat top left;
  background-size: contain;
}

.proc-node-open .proc-node-icon, .proc-node-closed .proc-node-icon {
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.proc-node-closed > ul {
  display: none;
}

.root-node > .proc-node-icon {
  display: none;
}

.root-node > .notebook-node-title-container > span {
  cursor: pointer;
}

.root-node > ul {
  margin-block-start: 4px;
  padding-inline-start: 0;
}

.notebook-node-icon,
.notebook-icon {
  position: relative;
  cursor: pointer;
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}

.notebook-node-icon .tooltip,
.notebook-icon .tooltip {
  display: none;
  background-color: black;
  color: #fff;
  text-align: center;
  border-top-right-radius: 6px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.notebook-node-icon:hover .tooltip,
.notebook-icon:hover .tooltip {
  display: block;
}

.notebook-node-title-container {
  display: inline-block;
}

#btn-open-tags-in-above-panel,
#btn-open-notes-in-above-panel {
  background-image: url('../img/black-arrow-single-up-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 12px;
  height: 12px;
}

.black-icons
#btn-open-tags-in-above-panel,
.black-icons
#btn-open-notes-in-above-panel {
  background-image: url('../img/black-arrow-single-up-32.png');
}

.dark-grey-icons
#btn-open-tags-in-above-panel,
.dark-grey-icons
#btn-open-notes-in-above-panel {
  background-image: url('../img/dark-grey-arrow-single-up-32.png');
}

.light-grey-icons
#btn-open-tags-in-above-panel,
.light-grey-icons
#btn-open-notes-in-above-panel {
  background-image: url('../img/light-grey-arrow-single-up-32.png');
}

.white-icons
#btn-open-tags-in-above-panel,
.white-icons
#btn-open-notes-in-above-panel {
  background-image: url('../img/white-arrow-single-up-32.png');
}

#btn-open-tags-in-above-panel-exclusively,
#btn-open-notes-in-above-panel-exclusively {
  background-image: url('../img/black-arrow-double-up-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 12px;
  height: 12px;
}

.black-icons
#btn-open-tags-in-above-panel-exclusively,
.black-icons
#btn-open-notes-in-above-panel-exclusively {
  background-image: url('../img/black-arrow-double-up-32.png');
}

.dark-grey-icons
#btn-open-tags-in-above-panel-exclusively,
.dark-grey-icons
#btn-open-notes-in-above-panel-exclusively {
  background-image: url('../img/dark-grey-arrow-double-up-32.png');
}

.light-grey-icons
#btn-open-tags-in-above-panel-exclusively,
.light-grey-icons
#btn-open-notes-in-above-panel-exclusively {
  background-image: url('../img/light-grey-arrow-double-up-32.png');
}

.white-icons
#btn-open-tags-in-above-panel-exclusively,
.white-icons
#btn-open-notes-in-above-panel-exclusively {
  background-image: url('../img/white-arrow-double-up-32.png');
}

#btn-maximize-bottom-panel-of-notes,
#btn-unmaximize-bottom-panel-of-notes {
  background-image: url('../img/black-rectangle-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 12px;
  height: 12px;
}

.black-icons
#btn-maximize-bottom-panel-of-notes,
.black-icons
#btn-unmaximize-bottom-panel-of-notes {
  background-image: url('../img/black-rectangle-32.png');
}

.dark-grey-icons
#btn-maximize-bottom-panel-of-notes,
.dark-grey-icons
#btn-unmaximize-bottom-panel-of-notes {
  background-image: url('../img/dark-grey-rectangle-32.png');
}

.light-grey-icons
#btn-maximize-bottom-panel-of-notes,
.light-grey-icons
#btn-unmaximize-bottom-panel-of-notes {
  background-image: url('../img/light-grey-rectangle-32.png');
}

.white-icons
#btn-maximize-bottom-panel-of-notes,
.white-icons
#btn-unmaximize-bottom-panel-of-notes {
  background-image: url('../img/white-rectangle-32.png');
}

#btn-close-panel-of-tags-and-links,
#btn-close-bottom-panel-of-tags-and-links,
#btn-close-bottom-panel-of-notes {
  background-image: url('../img/black-close-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 12px;
  height: 12px;
}

.black-icons
#btn-close-panel-of-tags-and-links,
.black-icons
#btn-close-bottom-panel-of-tags-and-links,
.black-icons
#btn-close-bottom-panel-of-notes {
  background-image: url('../img/black-close-32.png');
}

.dark-grey-icons
#btn-close-panel-of-tags-and-links,
.dark-grey-icons
#btn-close-bottom-panel-of-tags-and-links,
.dark-grey-icons
#btn-close-bottom-panel-of-notes {
  background-image: url('../img/dark-grey-close-32.png');
}

.light-grey-icons
#btn-close-panel-of-tags-and-links,
.light-grey-icons
#btn-close-bottom-panel-of-tags-and-links,
.light-grey-icons
#btn-close-bottom-panel-of-notes {
  background-image: url('../img/light-grey-close-32.png');
}

.white-icons
#btn-close-panel-of-tags-and-links,
.white-icons
#btn-close-bottom-panel-of-tags-and-links,
.white-icons
#btn-close-bottom-panel-of-notes {
  background-image: url('../img/white-close-32.png');
}




.icon-edit {
  background-image: url('../img/black-edit-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-edit {
  background-image: url('../img/black-edit-icon-32.png');
}

.dark-grey-icons
.icon-edit {
  background-image: url('../img/dark-grey-edit-icon-32.png');
}

.light-grey-icons
.icon-edit {
  background-image: url('../img/light-grey-edit-icon-32.png');
}

.white-icons
.icon-edit {
  background-image: url('../img/white-edit-icon-32.png');
}

.icon-delete-from-the-right-side {
  background-image: url('../img/black-x-icon-5301-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-delete-from-the-right-side {
  background-image: url('../img/black-x-icon-5301-32.png');
}

.dark-grey-icons
.icon-delete-from-the-right-side {
  background-image: url('../img/dark-grey-x-icon-5301-32.png');
}

.light-grey-icons
.icon-delete-from-the-right-side {
  background-image: url('../img/light-grey-x-icon-5301-32.png');
}

.white-icons
.icon-delete-from-the-right-side {
  background-image: url('../img/white-x-icon-5301-32.png');
}

.icon-append-child-with-input {
  background-image: url('../img/black-file-plus-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-append-child-with-input {
  background-image: url('../img/black-file-plus-icon-32.png');
}

.dark-grey-icons
.icon-append-child-with-input {
  background-image: url('../img/dark-grey-file-plus-icon-32.png');
}

.light-grey-icons
.icon-append-child-with-input {
  background-image: url('../img/light-grey-file-plus-icon-32.png');
}

.white-icons
.icon-append-child-with-input {
  background-image: url('../img/white-file-plus-icon-32.png');
}

.icon-add-sibling-with-input {
  background-image: url('../img/black-plus-circle-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-add-sibling-with-input {
  background-image: url('../img/black-plus-circle-icon-32.png');
}

.dark-grey-icons
.icon-add-sibling-with-input {
  background-image: url('../img/dark-grey-plus-circle-icon-32.png');
}

.light-grey-icons
.icon-add-sibling-with-input {
  background-image: url('../img/light-grey-plus-circle-icon-32.png');
}

.white-icons
.icon-add-sibling-with-input {
  background-image: url('../img/white-plus-circle-icon-32.png');
}




.icon-increase-font-size {
  background-image: url('../img/black-proc-node-plus.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 10px;
  height: 10px;
}

.icon-decrease-font-size {
  background-image: url('../img/black-proc-node-minus.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 10px;
  height: 10px;
}

.black-icons
.icon-increase-font-size {
  background-image: url('../img/black-proc-node-plus.png');
}

.black-icons
.icon-decrease-font-size {
  background-image: url('../img/black-proc-node-minus.png');
}

.dark-grey-icons
.icon-increase-font-size {
  background-image: url('../img/dark-grey-proc-node-plus.png');
}

.dark-grey-icons
.icon-decrease-font-size {
  background-image: url('../img/dark-grey-proc-node-minus.png');
}

.light-grey-icons
.icon-increase-font-size {
  background-image: url('../img/light-grey-proc-node-plus.png');
}

.light-grey-icons
.icon-decrease-font-size {
  background-image: url('../img/light-grey-proc-node-minus.png');
}

.white-icons
.icon-increase-font-size {
  background-image: url('../img/white-proc-node-plus.png');
}

.white-icons
.icon-decrease-font-size {
  background-image: url('../img/white-proc-node-minus.png');
}

.icon-open-tag-in-tags-tree {
  background-image: url('../img/black-tag-round-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

.black-icons
.icon-open-tag-in-tags-tree {
  background-image: url('../img/black-tag-round-icon-32.png');
}

.dark-grey-icons
.icon-open-tag-in-tags-tree {
  background-image: url('../img/dark-grey-tag-round-icon-32.png');
}

.light-grey-icons
.icon-open-tag-in-tags-tree {
  background-image: url('../img/light-grey-tag-round-icon-32.png');
}

.white-icons
.icon-open-tag-in-tags-tree {
  background-image: url('../img/white-tag-round-icon-32.png');
}

.icon-open-tags-of-children-in-tags-tree {
  background-image: url('../img/black-tags-icon-35-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 11px;
  height: 10px;
}

.black-icons
.icon-open-tags-of-children-in-tags-tree {
  background-image: url('../img/black-tags-icon-35-32.png');
}

.dark-grey-icons
.icon-open-tags-of-children-in-tags-tree {
  background-image: url('../img/dark-grey-tags-icon-35-32.png');
}

.light-grey-icons
.icon-open-tags-of-children-in-tags-tree {
  background-image: url('../img/light-grey-tags-icon-35-32.png');
}

.white-icons
.icon-open-tags-of-children-in-tags-tree {
  background-image: url('../img/white-tags-icon-35-32.png');
}

.icon-open-notes-with-the-same-tag-in-bottom-panel {
  background-image: url('../img/black-chevrons-down-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 10px;
  height: 10px;
}

.black-icons
.icon-open-notes-with-the-same-tag-in-bottom-panel {
  background-image: url('../img/black-chevrons-down-32.png');
}

.dark-grey-icons
.icon-open-notes-with-the-same-tag-in-bottom-panel {
  background-image: url('../img/dark-grey-chevrons-down-32.png');
}

.light-grey-icons
.icon-open-notes-with-the-same-tag-in-bottom-panel {
  background-image: url('../img/light-grey-chevrons-down-32.png');
}

.white-icons
.icon-open-notes-with-the-same-tag-in-bottom-panel {
  background-image: url('../img/white-chevrons-down-32.png');
}

li:first-child > .notebook-node-title-container > .notebook-node-icons > .icon-move-to-top {
  display: none;
}

.icon-move-to-top {
  background-image: url('../img/black-up-arrow-icon-22-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

.black-icons
.icon-move-to-top {
  background-image: url('../img/black-up-arrow-icon-22-32.png');
}

.dark-grey-icons
.icon-move-to-top {
  background-image: url('../img/dark-grey-up-arrow-icon-22-32.png');
}

.light-grey-icons
.icon-move-to-top {
  background-image: url('../img/light-grey-up-arrow-icon-22-32.png');
}

.white-icons
.icon-move-to-top {
  background-image: url('../img/white-up-arrow-icon-22-32.png');
}

li:last-child > .notebook-node-title-container > .notebook-node-icons > .icon-move-to-bottom {
  display: none;
}

.icon-move-to-bottom {
  background-image: url('../img/black-down-arrow-icon-22-32.png');
  background-repeat: no-repeat;
  background-position: top left;
  width: 8px;
  height: 10px;
}

.black-icons
.icon-move-to-bottom {
  background-image: url('../img/black-down-arrow-icon-22-32.png');
}

.dark-grey-icons
.icon-move-to-bottom {
  background-image: url('../img/dark-grey-down-arrow-icon-22-32.png');
}

.light-grey-icons
.icon-move-to-bottom {
  background-image: url('../img/light-grey-down-arrow-icon-22-32.png');
}

.white-icons
.icon-move-to-bottom {
  background-image: url('../img/white-down-arrow-icon-22-32.png');
}

li:last-child > .notebook-node-title-container > .notebook-node-icons > .icon-hide-siblings-below {
  display: none;
}

.icon-hide-siblings-below {
  background-image: url('../img/black-down-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-hide-siblings-below {
  background-image: url('../img/black-down-icon-32.png');
}

.dark-grey-icons
.icon-hide-siblings-below {
  background-image: url('../img/dark-grey-down-icon-32.png');
}

.light-grey-icons
.icon-hide-siblings-below {
  background-image: url('../img/light-grey-down-icon-32.png');
}

.white-icons
.icon-hide-siblings-below {
  background-image: url('../img/white-down-icon-32.png');
}

.root-node > .notebook-node-title-container > .notebook-node-icons > .icon-hide {
  display: none;
}

.icon-hide {
  background-image: url('../img/black-eye-slash-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-hide {
  background-image: url('../img/black-eye-slash-32.png');
}

.dark-grey-icons
.icon-hide {
  background-image: url('../img/dark-grey-eye-slash-32.png');
}

.light-grey-icons
.icon-hide {
  background-image: url('../img/light-grey-eye-slash-32.png');
}

.white-icons
.icon-hide {
  background-image: url('../img/white-eye-slash-32.png');
}

.proc-node .icon-unhide-hidden-children {
  display: none;
}

.proc-node.has-hidden-children > .notebook-node-title-container > .notebook-node-icons > .icon-unhide-hidden-children {
  display: inline-block;
}

.icon-unhide-hidden-children {
  background-image: url('../img/black-eye-icon-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-unhide-hidden-children {
  background-image: url('../img/black-eye-32.png');
}

.dark-grey-icons
.icon-unhide-hidden-children {
  background-image: url('../img/dark-grey-eye-32.png');
}

.light-grey-icons
.icon-unhide-hidden-children {
  background-image: url('../img/light-grey-eye-32.png');
}

.white-icons
.icon-unhide-hidden-children {
  background-image: url('../img/white-eye-32.png');
}

.icon-open-node-in-top-panel {
  background-image: url('../img/black-arrow-single-up-32.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.black-icons
.icon-open-node-in-top-panel {
  background-image: url('../img/black-arrow-single-up-32.png');
}

.dark-grey-icons
.icon-open-node-in-top-panel {
  background-image: url('../img/dark-grey-arrow-single-up-32.png');
}

.light-grey-icons
.icon-open-node-in-top-panel {
  background-image: url('../img/light-grey-arrow-single-up-32.png');
}

.white-icons
.icon-open-node-in-top-panel {
  background-image: url('../img/white-arrow-single-up-32.png');
}

.notebook-node-title-container > div {
  display: inline-block;
}

.notebook-node-title-container .notebook-node-icons {
  visibility: hidden;
  padding-left: 4px;
}

.notebook-node-title-container:hover .notebook-node-icons {
  visibility: visible;
}


.proc-node.in-rectangle > .notebook-node-title-container div.title-container-div,
.proc-node.in-rectangle > .notebook-node-title-container span.title-container-span {
  border: 1px solid;
}
